# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dojo-blog/node_modules
dojo-blog/.pnp
.pnp.js

firebase-auth/node_modules
firebase-auth/.pnp

# testing
dojo-blog/coverage

# production
dojo-blog/build

# misc
.DS_Store
firebase-auth/.env.local
firebase-auth/.env.development.local
firebase-auth/.env.test.local
firebase-auth/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
